paths:
  data_root: "/scratch/sathishbabu.ki/data_files"
  cleaned_md: "${paths.data_root}/cleaned_md"
  embeddings: "${paths.data_root}/embeddings"
  bm25_artifacts: "${paths.data_root}/bm25_artifacts"
  outputs: "${paths.data_root}/outputs"
  logs: "${paths.data_root}/logs/"
  traces: "${paths.data_root}/logs/"
  session_logs: "${paths.data_root}/session_logs"
  huggingface_home: "/scratch/sathishbabu.ki/vllm_models/vllm/.cache/huggingface"
  workdir: "/home/ksathish/LitLens"

models:
  embedding: "infgrad/Jasper-Token-Compression-600M"
  reranker: "jinaai/jina-reranker-v3"
  generator: "Qwen/Qwen3-4B-AWQ"
  hallucination_eval: "vectara/hallucination_evaluation_model"

devices:
  embedding_device: "cpu"
  reranker_device: "cuda"
  generator_device: "cuda"
  hallucination_device: "cpu"

retrieval:
  k_papers: 30 # for stage 1 paper retrieval - bm25 + paper embedding
  m_chunks: 20 # for stage 2 chunk retrieval - chunk embedding
  n_reranked: 5 # for stage 3 number of top chunks to rerank and use for generation
  bm25_weight: 0.3 # weight for bm25 score in combined scoring
  embedding_weight: 0.7   # weight for embedding score in combined scoring
  truncate_dim: 1024

generation:
  temperature: 0.4
  include_citations: true
